.clslogin{
   align-content: center;
    width:300px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    top:90%;
    left: 75%;
    transform: translate(-40%,-400%);
    position: absolute;
}

button:hover{
    background-color:lightgreen;
}


 img{
    width: 100%;
    height: 100%;
}
.clsdiv{
    padding: 0px;

}
body{
    margin: 0px auto;
}