.navbar{
  background-color:  #45A29E;
  justify-content: space-around;
}

.card {
padding: 20px;
margin: 50px;
width: 250px;
border: 2px solid black;
}
.card img {
width: 200px;
height: 200px;
margin-bottom: 15px;
transition: 0.3s ease-in-out;
}
.card img:hover {
transition: 0.3s ease-in-out;
transform: scale(1.1);
}
.card h5{
  font-size: large;
  text-align: center;
  margin-top: 10px;
}
.clsmat div{
  display:flex;
  flex-direction: row;
}
.container{
  background-image: url("https://images.squarespace-cdn.com/content/v1/56b7fcea20c647fc9f84166a/1455334389143-EX989HAC7GNEIJ0V8Z2E/Background.jpg?format=1500w");
}
.search{
  display: flex;
  flex-direction: row;
}